.main {
  display: flex;
  justify-content: space-evenly;
  // gap: 4rem;
  background-color: #61dbfb;
  height: 100vh;
}

.map {
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
  align-items: center;
  gap: 2rem;

  &__header {
    font-size: 3.6rem;
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__wrapper {
    height: 75vh;
    width: 75vw;
    border-radius: 25rem;
    overflow: hidden;
  }
}
