.main {
  display: flex;
  justify-content: space-evenly;
  background-color: #000;
  height: 100vh;
}

.map {
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
  align-items: center;
  gap: 2rem;

  &__header {
    font-size: 3.6rem;
  }

  &__logo {
    height: 20rem;
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__wrapper {
    height: 60vh;
    width: 50vw;
    border-radius: 0.4rem;
    overflow: hidden;
  }
}
